@model Chat.Portal.Models.LoginModel
@{ ViewBag.Title = "Login"; }

<h2>Login</h2>

@using (Html.BeginForm())
{
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    @Html.ValidationSummary()
    <div class="form-group">
        <label>Username</label>
        @Html.TextBoxFor(x => x.Username)
    </div>
    <div class="form-group">
        <label>Password</label>
        @Html.PasswordFor(x => x.Password)
    </div>
    @Html.ActionLink("Don't have an account?", "SignUp", "Account", new { area = "" }, new { @class = "navbar-brand" })
    <button class="btn btn-primary" type="submit">Login</button>
}